<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="test/Horde/Url/bootstrap.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="horde/Url PSR-0">
      <directory>test/Horde</directory>
    </testsuite>
    <testsuite name="horde/Url PSR-4">
      <directory>test/unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">lib</directory>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
